@charset "UTF-8";

$color-white: #fff;
$color-gray: #e0e0e0;
$color-blue: #4285f4;
$color-blue-hover: #eaf1fe;

@import 'input';

@mixin button-shared {
   display: inline-block;
   position: relative;
   border: none;
   background: none;
   cursor: pointer;
   width: 30px;
   height: 30px;
 }
@mixin item-shared {
  list-style: none;
  padding: 12px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}
@mixin position-center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 18px;
}
body {
  background-size: cover;
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.root {
  .svg-inline--fa{
    @include position-center;
  }
  .todolist {
    .row_none{
      display: none;
    }
    &_input {
      padding: 20px 0 0 0;
      &_add:focus {
        outline: none;
      }
      &_add {
        @include button-shared;
        text-decoration: none;
        margin: 6px 0;
        background-color: $color-blue;
      }
    }
    &_tasklist {
      &:first-child{
        padding: 20px 0 0 0;
      }
      &_task{
        @include item-shared;
        textarea:disabled  {
          background-color: $color-white;
        }
        textarea{
          display: inline-block;
          position: relative;
          min-width: 70%;
          max-width: 70%;
          z-index: 0;
          resize: none;
          border: none;
          background-color: $color-blue-hover
        }
        &_check:hover .todolist_tasklist_task_check-circle{
          display: none;
        }
        &_check:hover .todolist_tasklist_task_check-checkmark{
          display: inline-block;
        }
        &_check:focus,&_edit:focus,&_delete:focus,textarea:before,
        textarea:after,textarea:focus{
          outline: none;
        }
        &_delete:hover {
          background-color: $color-gray;
        }
        &_edit,&_delete,&_check {
          @include button-shared;
          border-radius: 50%;
          &-save,&-checkmark {
            display: none;
          }
        }
        &_check {
          margin: 0 0 0 10px;
        }
      }
    }
    &_completed{
      border-top: 1px solid $color-gray;
      border-bottom: 1px solid $color-gray;
      display: flex;
      p{
        margin: 0;
        padding: 14px 20px;
        position: relative;
      }
      &_slide:hover {
        background-color: $color-gray;
      }
      &_slide{
        @include button-shared;
        border-radius: 50%;
        margin: 9px 0;
      }
      &_list{
        &_task{
          @include item-shared;
          &_check:hover,&_delete:hover {
            background-color: $color-gray;
          }
          &_check:focus,&_delete:focus{
            outline: none;
          }
          &_check,&_delete {
            @include button-shared;
            border-radius: 50%;
            margin: 0 0 0 10px;
          }
          li{
            display: inline-block;
            position: relative;
            width: 80%;
            text-decoration-line: line-through;
          }
        }
      }
      &_list_none{
        display: none;
      }
    }
  }
}



